:root {
  --heading-font-family: "Source Serif 4", serif;
  --body-font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #ebeae6;
}

.navbar-brand {
  font-family: var(--heading-font-family);
}

.nav-link {
  font-family: var(--body-font-family);
}

.hero {
  background-color: #f4f3ef;
  padding: 100px;
  width: 100%;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 100px;
}

.hero h2 {
  font-family: var(--body-font-family);
  font-weight: 300;
  font-size: 30px;
}

.btn-about {
  background-color: #859874;
  color: white;
  font-family: var(--body-font-family);
  font-size: 17px;
  font-weight: 400;
  padding: 17px 50px;
  margin: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-about:hover {
  background-color: #58684b;
  color: #f4f3ef;
}

.projects-section {
  margin: 0;
  padding: 20px;
}

.projects-section h3 {
  font-family: var(--heading-font-family);
  margin-bottom: 20px;
  font-size: 35px;
}

.project-image {
  border-radius: 5px;
}

.project-heading {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 17px;
}

.btn-projects {
  color: #58684b;
  border-color: #58684b;
  border-width: 2px;
  font-family: var(--body-font-family);
  font-size: 15px;
  font-weight: 500;
  padding: 15px 45px;
  margin: 30px 0 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-projects:hover {
  background-color: #859874;
  color: #f4f3ef;
}

#navbar {
  padding: 0 20px;
}

@media (max-width: 992px) {
  .landing-heading {
    font-size: 50px;
  }

  .landing-subhead {
    font-size: 25px;
  }

  .featured-projects {
    font-size: 25px;
  }

  .hero {
    padding: 70px;
  }

  .btn-about,
  .btn-projects {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 30px;
  }

  .btn-projects {
    margin: 20px 0 10px;
  }
}

@media (max-width: 768px) {
  .project-heading {
    padding-bottom: 15px;
    font-size: 15px;
  }
  .project-image {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  .btn-projects {
    margin: 5px 0 10px;
  }
}
