:root {
  --heading-font-family: "Source Serif 4", serif;
  --body-font-family: "Roboto", sans-serif;
}

/* navbar */
.navbar {
  background-color: #ebeae6;
}

.navbar-brand {
  font-family: var(--heading-font-family);
}

.nav-link {
  font-family: var(--body-font-family);
}

.navbar-nav .nav-link.active {
  color: #859874;
  font-weight: 500;
}

#navbar {
  padding: 0 20px;
}

/* about, project, contact header */
.about-header h1,
.contact-header h1,
.projects-header h1 {
  font-family: var(--heading-font-family);
  font-size: 70px;
  margin: 0;
}

.skills-section h2,
.contact-box h2 {
  font-family: var(--heading-font-family);
  font-size: 35px;
}

/* footer */
.contact-box {
  background-color: #f4f3ef;
  padding: 30px 0 30px;
}

.social-links {
  margin-top: 30px;
}
.social-links a {
  text-decoration: none;
  background-color: #859874;
  color: #fff;
  margin: 0 15px;
  padding: 5px 9px;
  border-radius: 50%;
  font-size: 15px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  background-color: #ffffff;
  color: #859874;
}

.credit {
  margin: 15px 0;
  text-align: center;
  font-size: 12px;
  font-family: var(--body-font-family);
  color: #000;
}

.credit a {
  color: #000;
  font-weight: 500;
}

/* homepage */

/* homepage hero */
.homepage-hero {
  background-color: #f4f3ef;
  padding: 80px 0 70px;
  width: 100%;
}

.homepage-hero h1 {
  font-family: var(--heading-font-family);
  font-size: 100px;
}

.homepage-hero h2 {
  font-family: var(--body-font-family);
  font-weight: 300;
  font-size: 30px;
}

/* primary button */
.btn-primary {
  background-color: #859874;
  color: white;
  border-color: #859874;
  font-family: var(--body-font-family);
  font-size: 17px;
  font-weight: 400;
  padding: 17px 50px;
  margin: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-primary:hover {
  background-color: #58684b;
  border-color: #58684b;
  color: #f4f3ef;
}

/* projects section - homepage */
.projects-section {
  margin: 0;
  padding: 20px;
}

.projects-section h3 {
  font-family: var(--heading-font-family);
  font-size: 35px;
  padding: 20px;
  margin: 0;
}

.project-image {
  border-radius: 5px;
}

.project-heading {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 17px;
}

/* about page */

/* header */
.about-header {
  background-color: #f4f3ef;
  padding: 70px;
  width: 100%;
}

/* about section */
.about-section {
  padding: 50px;
}

/* col 1 */

.headshot {
  max-width: 450px;
  border-radius: 10px;
  display: block;
  margin-right: 16px;
}

/* col 2 */
.about-section p {
  font-family: var(--body-font-family);
  font-size: 14px;
  max-width: 500px;
  margin: 16px 0 0 16px;
}

/* skills section */
.skills-section {
  background-color: #f4f3ef;
  padding: 50px 100px;
  margin: 30px 0 0;
}

.skills-info {
  font-family: var(--body-font-family);
  padding: 15px;
  margin: 0 40px 60px;
  font-size: 15px;
}

.skills-icon {
  width: 70px;
}

/* projects button */
.about-projects-button {
  margin: 40px 0;
}

/* projects page */

/* header */
.projects-header {
  background-color: #f4f3ef;
  padding: 70px;
  width: 100%;
}

/* body */
.projects-page {
  padding: 50px;
}

.projects-paragraph {
  padding: 70px;
}

/* buttons */
.view-project-btn {
  background-color: #859874;
  color: white;
  border-color: #859874;
  margin-right: 10px;
}

.project-github-btn {
  color: #58684b;
  background-color: #ffffff;
  border-color: #58684b;
  margin-left: 10px;
}

.view-project-btn,
.project-github-btn {
  font-family: var(--body-font-family);
  font-size: 14px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 7px 15px;
  font-weight: 400;
  border-width: 1px;
}

.view-project-btn:hover,
.project-github-btn:hover {
  background-color: #58684b;
  border-color: #58684b;
  color: #f4f3ef;
}

/* contact page */

/* header */
.contact-header {
  background-color: #f4f3ef;
  padding: 70px;
  width: 100%;
}

/* body */
.contact-info {
  padding: 50px;
  margin-top: 75px;
}

.contact-info h5 {
  font-family: var(--body-font-family);
}

/* links */
.email-link,
.github-link {
  display: block;
  text-decoration: none;
  color: #58684b;
  font-size: 20px;
  font-size: 16px;
}
.email-link {
  margin-bottom: 50px;
}

.github-link {
  margin: 0;
}

.email-link:hover,
.github-link:hover {
  text-decoration: underline;
}

/* media queries */

@media (max-width: 1200px) {
  .about-section p {
    margin: 0 auto;
    text-align: center;
    max-width: 992px;
  }

  .headshot {
    margin: 0 auto 40px;
  }
}

@media (max-width: 992px) {
  .homepage-hero h1,
  .about-header h1,
  .projects-header h1,
  .contact-header h1 {
    font-size: 50px;
  }

  .homepage-hero h2 {
    font-size: 25px;
  }

  .project-information h5 {
    font-size: 14px;
  }

  .project-information p {
    font-size: 13px;
  }

  .projects-section {
    font-size: 25px;
  }

  .homepage-hero {
    padding: 70px;
  }

  .headshot {
    max-width: 300px;
  }

  .skills-section {
    padding: 30px;
  }

  .skills-info {
    margin: 0 20px 30px;
  }

  .projects-page.project-image {
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  #homepageAboutBtn,
  #homepageProjectBtn {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 30px;
  }

  #homepageProjectBtn {
    margin: 20px 30px 30px;
  }

  #aboutProjectsButton {
    font-size: 14px;
    margin: 0;
  }
}

@media (max-width: 930px) {
  .view-project-btn,
  .project-github-btn {
    display: block;
    margin: 10px auto;
    width: 50%;
    font-size: 11px;
  }
}

@media (max-width: 880px) {
  .projects-section h5 {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .project-information h5,
  .project-information p {
    font-size: 14px;
  }

  .projects-section h5 {
    margin: 24px 0;
  }

  .about-section p {
    max-width: 650px;
  }

  .projects-section {
    padding: 20px 20px 0px;
    margin-bottom: 30px;
  }

  .project-image {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  .homepage-hero {
    padding: 70px 70px 60px;
  }

  .headshot {
    max-width: 250px;
  }

  .skills-section {
    padding: 50px;
  }

  .skills-icon {
    max-width: 40px;
  }

  .project-github-btn {
    margin-bottom: 30px;
  }

  #homepageProjectBtn {
    margin: 0;
  }
}

@media (max-width: 690px) {
  .projects-section h5 {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .project-information h5,
  .project-information p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .contact-header h1 {
    font-size: 50px;
  }

  .projects-section h5,
  .project-information h5,
  .project-information p {
    font-size: 12px;
  }

  .skills-section {
    padding: 50px;
  }

  .skills-info {
    margin: 10px 0;
  }

  .contact-box h2 {
    font-size: 25px;
  }

  .social-links {
    margin: 15px 0 0;
  }
  .social-links a {
    text-decoration: none;
    background-color: #859874;
    color: #fff;
    margin: 0 15px;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 15px;
    transition: all 100ms ease-in-out;
  }

  #aboutProjectsButton {
    margin: 0;
  }
}

@media (max-width: 455px) {
  .contact-header h1 {
    font-size: 40px;
  }
}
